* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000f3a;
}

.container {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
}

.container .forms {
    display: flex;
    align-items: center;
    height: 580px;
    width: 200%;
    transition: height 0.2s ease;
}

.container .form {
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #174ad6;
    border-radius: 25px;
}

.container .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 13px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field i.icon {
    left: 0;
}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin-right: 10px;
    accent-color: #4070f4;
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    border-bottom-color: #0e3ec2;
}

.input-field input:is(:focus, :valid)~i {
    color: #0e3ec2;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin-right: 10px;
    accent-color: #4070f4;
}

.form .text {
    color: #222222;
    font-size: 14px;
}

.form a.text {
    color: #4070f4;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 35px;
}

.button input:hover {
    background-color: #98aadb;
}

.form .login-sign-up {
    margin-top: 30px;
    text-align: center;
}

.form .button input {
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #360afa;
    border-radius: 100px 30px 100px 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover {
    background-color: #066403;
}

.form .login-sign-up {
    margin-top: 30px;
    text-align: center;
}

.input-field input:is(:focus, :valid)~i {
    color: #133699;
}

.input-field input:is(:focus, :valid) {
    border-bottom-color: #133699;
}

.container.active .forms {
    height: 600px;
}

.section {
    position: absolute;
    top: 120px;
    left: 0;
    height: 100px;
    width: 100%;
    margin-top: 20px;
    
}
#results {
    background-color: rgb(184, 181, 7);
    color: darkblue;
    border-radius: 20px;
}
@media only screen and (min-width: 320px) {
}

@media only screen and (max-width: 1200px) {
}